<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
   <%- include('./partials/boot.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <section class="container my-3">
      <form action="/auth/logout" method="post">
        <button class="logout" type="submit">Sign out</button>
      </form>
      <form action="/job/job-add" method="POST">
        <div class="mb-3">
          <label for="jobTitle" class="form-label">Job Title</label>
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            placeholder="Job Title" name="jobTitle"
          />
        </div>
        <div class="mb-3">
          <label for="jobSnippet" class="form-label">Job Snippet</label>
          <input
            type="text"
            class="form-control"
            id="jobSnippet"
            placeholder="Job Snippet" name="jobSnippet"
          />
        </div>
        <div class="mb-3">
          <label for="jobLink" class="form-label">Job Link</label>
          <input
            type="text"
            class="form-control"
            id="jobLink"
            placeholder="Job Link" name="jobLink"/>
        </div>
        <div class="mb-3">
          <label for="jobImage" class="form-label">Job Image</label>
          <input
            type="text"
            class="form-control"
            id="jobImage"
            placeholder="Job Image" name="jobImage"
          />
        </div>
        <div class="mb-3">
          <label for="jobCategory" class="form-label">Job Category</label>
          <input
            type="text"
            class="form-control"
            id="jobCategory"
            placeholder="Job Category" name="jobCategory"
          />
        </div>
        <div class="mb-3">
          <label for="jobDetails" class="form-label">Job Description</label>
          <textarea class="form-control" id="jobDetails" rows="3" name="jobDetails"></textarea>
        </div>
        <input type="submit" class="btn btn-primary"/>
      </form>
    </section>
    <section class="container my-5">
      <h3 class="text-center">JOBS</h3>
      <% job.slice(0,10).forEach(job=> { %>
        <a href="/job/jobs/<%= job._id%>" class="single text-decoration-none">
        <div class="card mb-3 shadow my-4" style="max-width: 90%">
          <div class="row g-0">
            <div class="col-md-4">
              <div id="jobImage" class="text-light h-100 d-flex justify-content-center align-items-center fw-bold display-5" style="background: linear-gradient(to bottom right, #0d6efd, rgb(255, 17, 0))"><%= job.jobImage %></div>
            </div>
            <div class="col-md-8 text-dark">
              <div class="card-body">
                <h5 class="card-title"><%= job.jobTitle %></h5>
                <p class="card-text">
                  <%= job.jobSnippet %>
                </p>
                <p class="card-text">
                  <span class="">Last updated: <%= job.createdAt.toLocaleDateString() %> </span> |
                  Category: <strong><%= job.jobCategory %></strong>
                </p>
              </div>
            </div>
          </div>
        </div>
        </a>
        <form action="/job/delete/<%= job.id%>" method="POST"><button type="submit" class="btn btn-danger">DELETE</button></form>
        <a href="/job/edit/<%= job.id %>"><button class="btn btn-warning">EDIT</button></a>
        <% }) %>
    </section>
    <script src="/static/editor/ckeditor.js"></script>
    <script>
      CKEDITOR.replace("jobDetails");
    </script>
  </body>
</html>
